* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: ligt rgb(21, 17, 17);
}
.header-main{
  width: 1440px;
  height: 80px;
  background-color: #1A4E8F;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #1A4E8F;
  color: black;
  padding: 15px 30px;
}
.my-product { 
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 1%;
  font-weight: bold;
  
}

.product-list {
  display: flex;
  gap: 20px;
  margin-left: 70px;
  justify-content: flex-end;

}

.product-list div {
  background-color: #FFFFFF;
  padding: 10px 15px;
  border: 0;
  font-weight: bold;
  font-style: italic;
  border-radius: 5px;
}

.information{
  display: flex;
  gap: 30px;
  padding: 40px 50px;
  background-color: #e6e6e6;
  margin-top: 20px;
  height: 420px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-start;
  
}
.info-news{
  flex:2.5;
  padding: 20px;
  border-radius: 8px;
  color: #000;
  background-color: #ffffff;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.news-letter{
  flex: 1;
  padding: 40px;
  border-radius: 8px;
  color: #000;
  background-color: #ffffff;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between

}
.button{
  width: 150px;
  pad: 10px;
  border-radius: 5px;
  cursor: pointer;
  
   background-color: orange;
}  

