* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: ligt rgb(21, 17, 17);
}

.header-main {
  width: 100%;
  height: 80px;
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: gray;
  color: black;
  padding: 15px 30px;
}

.my-product {
  background-color: white;
  padding: 10px 30px;
  border-radius: 1%;
  font-weight: bold;
}

.product-list {
  display: flex;
  gap: 15px;
}

.product-list div {
  background-color: white;
  padding: 10px 15px;
  border: 1;
  font-weight: bold;
}

body {
  background: #f9f9f9;
}

.benefits-container {
  background-color: #ffffff;
  border: 1px #e6e6e6;
  margin: 1.5rem;
  height: 20%;
  width: auto;
  padding: 3rem;
}

.benefits-container h1 {
  text-align: center;
}

.benefits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid blue;
  margin: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
  gap: 1rem;
}

.benefits-item {
  border: 2px solid red;
  width: 30%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.benefits-item p {
  border: 2px solid green;
  padding: 1rem;
}

.benefits-item img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 30%;
  background-color: #1a4e8f;
  margin: 0.5rem;
}

.packages-container {
  background-color: #1a4e8f;
  padding: 3rem;
  height: 20%;
  width: auto;
}

.packages-header {
  background: #ffffff;
  margin: auto;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem;
  color: #4a4a4a;
  text-align: center;
}

.packages-header h3 {
  font-style: italic;
  font-weight: 700;
  font-family: "Open Sans";
}

.packages-header p {
  font-weight: 400;
  font-family: "Open Sans Condensed";
}

.packages {
  display: flex;
  justify-content: center;
}

.package-item {
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 12rem;
  height: 12rem;
}

.package-item h2 {
  color: #1a4e8f;
  font-weight: 700;
  font-family: "Montserrat";
}

.package-item button {
  background-color: #ff8c42;
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-style: italic;
  padding: 0.5rem;
  width: 80%;
  font-weight: 700;
  font-family: "Open Sans";
}

footer {
  background-color: #ffffff;
  height: 12%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer h3 {
  color: #4a4a4a;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 1rem;
}

/* .site-map,
.contacts-container {
  padding: 1rem;
} */

.site-map-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 7rem;
  list-style: none;
  color: #1a4e8f;
  font-weight: 700;
  font-family: "Open Sans";
  font-style: italic;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  list-style: none;
}
